
$Default-Background: #91cc5b !default; //thene.scss
$Activestyle: false !default; //buttons.scss //theme.scss
$Darker-Background: darken($Default-Background, 50%) !default; //theme.scss
//$Announce: true !default; //announcement.scss


