@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");
$Default-Background: #91cc5b;
$Activestyle: false;
$Darker-Background: darken($Default-Background, 50%);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  .DefaultBackground {
    background-color: #91cc5b;
  }


  .override-background {
    $Activestyle: true !global ;
  
    
    @if $Activestyle {
      background-color: $Darker-Background;
      color: $Darker-Background;
      } @else {
      background-color: #cdfed6;
      
    }

    button {
      @if $Activestyle {
        background-color: $Darker-Background;
      } @else {
        background-color: #cdfed6;
      }
    } 
  

  }


 




html {
  font-size: calc(15px + 0.390625vw);
}

h1,
h2 {
  text-align: center;
}
#buttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.playerselect {
  width: 40%;
  margin: 5%;
  border: none;
  font-size: 4rem;

  @if $Activestyle {
    color:black;
  }
@else {color: #402f1d;}
  
  font-family: "Stick", sans-serif;
}



.playerselect:hover {
  color: red;
}

.animate {
  background-color: #fd8686;
  border-color: red;
  border-width: 0.3rem;
}

#turnAnnouncer {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  display: hidden;
}

#warning {
  text-align: center;
  visibility: hidden;
}

#grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: brown;
}

#grid {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 0rem;
  width: 90%;
  aspect-ratio: 1/1;
  color: brown;
}

.box {
  border-color: #402f1d;
  border-style: solid;
  text-align: center;
  border-width: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: "Stick", sans-serif;
}

#announcementContainer {
  height: 50%;
  width: 90%;
  left: 5%;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#beginningAnnouncement {
  color: red;
  z-index: 2;
  text-align: center;
  background-color: white;
  font-size: 4rem;
  font-family: "Stick", sans-serif;
  border-radius: 50% 50% 50% 50%;
}

#resetbutton {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 0.5rem;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}

#resetbutton:hover {
  color: red;
}

//.thefilter {filter:blur(6px)}

$announce: true;

@if $announce {
  #announcementContainer {
    filter: blur(0px) !important;
    background-color: red;
  }
}
